
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #07fbfb;
}
.scontainer {
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ef0c0c;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #070000;
}

#output {
  margin-top: 20px;
  text-align: center;

}

